button {
    padding: 0.5rem 1rem;
    border : none;
    font-size: medium;
}

.day {
    background-color: lightcyan;
    color : orangered;
}

.night {
    background-color: darkblue;
    color : lightyellow;
}