<h1>Ajouter un burger</h1>
<a routerLink="/services">Retour à la liste des burgers</a>

<form [formGroup]="burgerForm" (ngSubmit)="addBurger()">
    <div>
        <input type="text" placeholder="Nom du burger" formControlName="name">
        <span class="error" *ngIf="burgerForm.get('name')?.touched && burgerForm.get('name')?.errors?.['required']">Ce champs est requis</span>
        <span class="error" *ngIf="burgerForm.get('name')?.errors?.['maxlength']">Ce champs doit faire max 150 caractères</span>
    </div>

    <div>
        <input type="number" placeholder="Prix du burger" formControlName="price">
        <span class="error" *ngIf="burgerForm.get('price')?.touched && burgerForm.get('price')?.errors?.['required']">Ce champs est requis</span>
        <span class="error" *ngIf="burgerForm.get('price')?.errors?.['min']">Le prix minimum est de 0€</span>
    </div>

    <div>
        <input type="text" placeholder="Lien vers l'image du burger" formControlName="picture">
    </div>

    <div>
        <input type="checkbox" id="available" formControlName="available"> <label for="available">Disponible</label>
    </div>

    <div formArrayName="ingredients">
        <h4>Ingrédients</h4>
        <input type="button" value="Ajouter un ingrédient" (click)="addIngredient()">
        <div *ngFor="let item of ingredients.controls; let i = index">
            <input type="text" [formControlName]="i">
            <span *ngIf="ingredients.controls[i].touched && ingredients.controls[i].errors?.['required']">Ce champs est requis</span>
            <span (click)="removeIngredient(i)">❌</span>
        </div>
    </div>

    <div>
        <input type="submit" value="Ajouter">
    </div>
</form>
